.card-container {
  width: 13rem;
  height: 18rem;
  background-color: var(--quaternary-color);
  border-radius: 0.25rem;
}

.content {
  padding: 1.2rem 0.9rem;
  position: relative;
}

.image-content {
  width: 11rem;
  height: 7rem; 
  border-radius: 0.25rem;
}

.user-content {
  position: absolute;
  right: 1.5rem; 
  top: 48%; 
  transform: translateY(-50%); 
  border-radius: 50%; 
}

.button-actions-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.7rem;
}

.button-action:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #f2f2f2;
  color: var(--secondary-color);
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.button-action:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

button {
  height: 1.5rem;
}

button:hover {
  border: none;
}

.info-content {
  margin-block: 0.7rem 1rem;
}

h3 {
  font-size: 0.5rem;
  font-weight: 700;
}

.car-items {
  display: flex;
  justify-content: space-between;
  gap: 0.33rem;
}

.car-item {
  display: flex;
  gap: 0.33rem;
  color: #828282;
}

.car-item p {
  margin-bottom: 0;
}